CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_GRUB_BAUDRATE=115200
CONFIG_GRUB_BOOTOPTS=""
CONFIG_GRUB_CONSOLE=y
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_GRUB_SERIAL="ttyS0"
CONFIG_GRUB_TIMEOUT="0"
CONFIG_GRUB_TITLE="OpenWrt"
CONFIG_NGINX_NOPCRE=y
CONFIG_PACKAGE_grub2=y
CONFIG_PACKAGE_grub2-efi=y
# CONFIG_PACKAGE_hostapd-common is not set
# CONFIG_PACKAGE_libcap is not set
CONFIG_PACKAGE_libustream-openssl=y
# CONFIG_PACKAGE_luci-ssl-nginx is not set
CONFIG_PACKAGE_luci-ssl-openssl=y
# CONFIG_PACKAGE_nginx-mod-luci-ssl is not set
# CONFIG_PACKAGE_nginx-ssl is not set
# CONFIG_PACKAGE_nginx-ssl-util is not set
# CONFIG_PACKAGE_uwsgi is not set
# CONFIG_PACKAGE_wpad is not set
CONFIG_TARGET_EXT4_BLOCKSIZE=4096
CONFIG_TARGET_EXT4_BLOCKSIZE_4K=y
CONFIG_TARGET_EXT4_RESERVED_PCT=0
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_PARTNAME=""
